<h1><%=listing.company%></h1>
<h2><%=listing.title%><br/>
<small><%=listing.location.city%>, <%=listing.location.state%></small></h2>
<h3>Description</h3>
<p><%=listing.description%></p>
<h3>Perks</h3>
<ul><%listing.perks.forEach(function(perk){%>
<li><%=perk%></li>
<%});%></ul>
<h3>Required Skills</h3>
<ul><%listing.skills.forEach(function(skill){%>
<li><%=skill%></li>
<%});%></ul>